.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 48% 52%;
}

.left {
  padding: 140px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.small-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
}

.left h1 {
  font-size: 95px;
  line-height: 0.9;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.desc {
  font-size: 20px;
  color: #777;
  line-height: 1.7;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  gap: 15px;
}

button {
  padding: 16px 28px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.outline {
  background: transparent;
  border: 1px solid #bbb;
  color: #6a6a68;
}

.gold {
  background: var(--primary-color);
  transition: 0.3s;
}

.gold:hover {
  background-color: #cda577;
  opacity: 0.9;
}

.right {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.swiper,
.mySwiper {
  width: 100%;
  height: 100vh !important;
}

.swiper-wrapper {
  height: 100% !important;
}

.swiper-slide {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.slide-title {
  position: absolute;
  left: 20px;
  top: 46%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 90px;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
  white-space: nowrap;
}

.swiper-pagination {
  position: absolute;
  right: 30px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;

  display: flex;
  flex-direction: column;
  gap: 14px;

  width: auto !important;
}

.swiper-pagination-bullet {
  width: 3px;
  height: 60px;
  border-radius: 20px;
  background: #999;
  opacity: 0.4;
  margin: 0 !important;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  height: 100px;
  background: var(--primary-color);
  opacity: 1;
}
